<menus>
    <menu id="MainMenu">
        <menu-item id="search_routes" label="@Strings.SearchRoutes"/>
        <menu-item id="create_folder" label="@Strings.CreateFolder"/>
    </menu>

    <menu id="SearchMenu">
        <menu-item id="search_length" label="@Strings.SearchByLength"/>
        <menu-item id="search_elevation" label="@Strings.SearchByElevation"/>
        <menu-item id="search_type" label="@Strings.SearchByType"/>
        <menu-item id="search_location" label="@Strings.SearchByLocation"/>
    </menu>
</menus>